<div class="container">
  <div class="row mt-5">
    <h1>Trouvez votre chambre en un clic!!!</h1>
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
      <div class="banner_homepage">

  <%= link_to "Commencez votre choix", hotels_path(@hotel), class: "btn btn-gradient" %>

      </div>
    </div>
  </div>
</div>
